/* 
    Document   : MovieItem
    Created on : Apr 21, 2013, 1:12:04 PM
    Author     : Gabriel Dzodom @ CSDL
    Description:
        Purpose of the stylesheet follows.
*/

graph
{
    fill-color: rgb(252,252,252);
}

edge
{
    size: 4px; 
    fill-color: #444;
}

node
{
    fill-mode: image-scaled-ratio-max;
    size: 70px, 95px;
    stroke-mode: plain;
    stroke-color: grey;
    shape : box;
}


node.nodeBase
{
    fill-mode: image-scaled-ratio-max;
    size: 70px, 95px;
    stroke-mode: plain;
    stroke-color: grey;
    shape : box;
}

edge.edgeBase
{
    size: 4px; 
    fill-color: rgb(51,51,51);
}

node.default_highlight
{
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-color: rgb(255,204, 0); 
    shadow-offset: 0px;
    shape : rounded-box;
}

edge.default_highlight
{
    shadow-color: rgb(255,204, 0); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.red
{
    shadow-color: rgb(211,95, 95); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.orange
{
    shadow-color: rgb(255,127, 42); 
    shadow-mode: gradient-radial;
    shadow-width: 10px;
    shadow-offset: 0px;
}

node.yellow
{
    shadow-color: rgb(255,204, 0); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.green
{
    shadow-color: rgb(141,211, 95); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.blue
{
    shadow-color: rgb(135,205, 222); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.violet
{
    shadow-color: rgb(170,135, 222); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.pink
{
    shadow-color: rgb(222,135, 205); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

node.nodeselected
{
    shadow-color: rgb(153,153, 153); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}



edge.red
{
    shadow-color: rgb(211,95, 95); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

edge.orange
{
    shadow-color: rgb(255,127, 42); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

edge.yellow
{
    shadow-color: rgb(255,204, 0); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

edge.green
{
    shadow-color: rgb(141,211, 95); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

edge.blue
{
    shadow-color: rgb(135,205, 222); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

edge.violet
{
    shadow-color: rgb(170,135, 222); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}

edge.pink
{
    shadow-color: rgb(222,135, 205); 
    shadow-mode: gradient-radial;
    shadow-width: 6px;
    shadow-offset: 0px;
}
